{% extends 'itpodrska/base.html' %}

{% block content %}
<h1>Incidenti</h1>

<div class="card">
    <h2>Pregled incidenata</h2>
    {% for group in request.user.groups.all %}
    {% if group.name == "Zaposlenik" %}
        <a class="btn" href="/novi-incident/">+ Novi incident</a>
        <br><br>
    {% endif %}
{% endfor %}

    <table>
    <tr>
        <th>ID</th>
        <th>Naziv</th>
        <th>Opis</th>
        <th>Lokacija</th>
        <th>Datum prijave</th>
        <th>Status</th>
        <th>Prioritet</th>
        <th>IT djelatnik</th>
    </tr>

    {% for incident in incidenti %}
    <tr>
        <td>{{ incident.id_incidenta }}</td>
        <td>{{ incident.naziv_incidenta }}</td>
        <td>{{ incident.opis_incidenta }}</td>
        <td>{{ incident.lokacija }}</td>
        <td>{{ incident.datum_prijave }}</td>
        <td>
            {% if incident.id_status_incidenta %}
                {{ incident.id_status_incidenta.naziv_statusa_incidenta }}
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if incident.id_prioritet_incidenta %}
                {{ incident.id_prioritet_incidenta.naziv_prioriteta }}
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if incident.id_it_zaposlenika %}
                {{ incident.id_it_zaposlenika.ime }} {{ incident.id_it_zaposlenika.prezime }}
            {% else %}
                Nije dodijeljen
            {% endif %}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="8">Nema unesenih incidenata.</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
