{% extends 'itpodrska/base.html' %}

{% block content %}
<h1>Zahtjevi</h1>

<div class="card">
    <h2>Pregled korisničkih zahtjeva</h2>

    {% for group in request.user.groups.all %}
    {% if group.name == "Zaposlenik" %}
        <a class="btn" href="/novi-zahtjev/">+ Novi zahtjev</a>
        <br><br>
    {% endif %}
{% endfor %}

    <table>
        <tr>
            <th>ID</th>
            <th>Naslov</th>
            <th>Tip</th>
            <th>Datum prijave</th>
            <th>Status</th>
            <th>Prioritet</th>
            <th>IT djelatnik</th>
        </tr>

        {% for zahtjev in zahtjevi %}
        <tr>
            <td>{{ zahtjev.id_zahtjeva }}</td>
            <td>{{ zahtjev.naslov_zahtjeva }}</td>
            <td>
                {% if zahtjev.id_tip_zahtjeva %}
                    {{ zahtjev.id_tip_zahtjeva.naziv_tipa_zahtjeva }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>{{ zahtjev.datum_prijave }}</td>
            <td>
                {% if zahtjev.id_status_zahtjeva %}
                    {{ zahtjev.id_status_zahtjeva.naziv_statusa_zahtjeva }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if zahtjev.id_prioritet_zahtjeva %}
                    {{ zahtjev.id_prioritet_zahtjeva.naziv_prioriteta }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if zahtjev.id_it_zaposlenika %}
                    {{ zahtjev.id_it_zaposlenika.ime }} {{ zahtjev.id_it_zaposlenika.prezime }}
                {% else %}
                    Nije dodijeljen
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">Nema unesenih zahtjeva.</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
